<% if session[:admin_id] != nil %>
  <div>
    <a><%= button_to "Create New Category", new_category_path, method: :get %></a>
    <a><%= button_to "Create New Gif", new_gif_path, method: :get %></a>
  </div>
<% end %>
<div class="main">COME ON IN, THE WATER IS <a class="funky">GUUUUUUD</a></div>
<img class="centerimage" src="https://i.imgur.com/dE7gryK.gif">
