<div><%= @gif.name %></div>

<div><img src="<%= @gif.image_path %>"/></div>

<div><%= render partial: "favorites/favorite_button", locals: { gif: @gif } %></div>

<% if session[:admin_id] != nil %>
  <div><%= link_to "Delete Gif", gif_path(@gif), method: :delete %></div>
<% end %>
