<h1>Favorited Gifs for <%= current_user.username %></h1>

<div class="container">
  <div class="row">
  <% @favorites.each do |favorite| %>
    <div class="col-6">
      <div><%= link_to favorite.gif.name, gif_path(favorite.gif) %></div>
      <div><img src="<%= favorite.gif.image_path %>"></div>
      <div><%= render partial: "favorites/favorite_button", locals: { gif: favorite.gif } %></div>
    </div>
  <% end %>
  </div>
</div>
