<h1>Favorites By Category for <%= current_user.username %></h1>
<% @categories.each do |category| %>
  <div><%= link_to category.name, user_category_path(category) %></div>
  <% if session[:admin_id] != nil %>
    <div><%= button_to "Delete", category_path(category), method: :delete %></div>
  <% end %>
<% end %>
