/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@keyframes getdown {
  0%   {color:red; left:0px; top:0px;}
 33%  {color:blue; left:200px; top:200px;}
 66%  {color:green; left:0px; top:200px;}
 100% {color:red; left:0px; top:0px;}
}
h1.mainheader {
  background: url(header_gradient.jpg);
  font-size: 60px;
  margin: 30px;
}
body {
  background: url(kanye.jpg);
}
a.funky {
  animation-name: getdown;
  animation-duration: 0.25s;
  animation-iteration-count: infinite;
}
div {
  text-align: center;
}
div.main {
  font-size: 40px;
}
div.green {
  background: green;
  color: white;
}
img.centerimage {
  display: block;
  margin: auto;
}
