<h1>All Categories</h1>
<%= link_to "Back to Main", root_path %>
<ul>
<% @categories.each do |category| %>
  <li><%= link_to category.name, category_path(category) %>
    <% if session[:admin_id] != nil %>
      <%= button_to "Delete", category_path(category), method: :delete %>
    <% end %>
  </li>
<% end %>
</ul>
